.footer{
    // @media screen and(min-width:320px) {

    // }
    width: 100%;
    background-color: var(--dark-gray);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    text-align: center;
}

.footer-container{    
    @media screen and(min-width:768px) and (max-width:1999px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
    }            
    @media screen and(min-width:1200px){
        flex-wrap: inherit;
        justify-content: inherit;
    }
}


.item-footer:not(:last-child){
    margin-top: 9px;
    margin-bottom: 9px;
}

.logo-footer-div{
    // display: block;
    @media screen and(min-width:320px) and (max-width:767px) {
        text-align: center;
    }
    @media screen and(min-width:768px) {
        padding-left: 76px;
        display: block;
    }
    @media screen and(min-width:1200px) {
        padding-left: 0;
    }

}

.footer-logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    @media screen and(min-width:768px) {
        line-height: 28px;
    }

    @media screen and(min-width:1200px) {
        display: block;
        padding-left: 0;
        text-align: left;
    }
    
}

.studio_logo_footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--wite);
    @media screen and(min-width:768px) {
        line-height: 28px;
    }
}

.web_logo_footer{
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--blue);
    @media screen and(min-width:768px) {
        line-height: 28px;
    }
}


.adres{
    width: 231px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--wite);
    padding-top: 20px;
    text-align: left;
    
}

.list-footer{
    text-align: left;
}


.mail-footer{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.numb-footer{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}