.form-email-footer{
    @media screen and(min-width:480px) {
        padding-top: 60px;    
    }
    @media screen and(min-width:768px) {
        padding-top: 60px;
        width: 100%;
    }
    @media screen and(min-width:1200px){
        min-width: 570px;
        padding-left: 93px;
        padding-top: 0;
    }
}

.text-form{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
    @media screen and(min-width:1200px) {
        text-align: left;
    }
}


.form-input-footer{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 16px;
    background-color:#2F303A;
    @media screen and(min-width:1200px) {
        width: 358px;
    }
    &::placeholder{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}


.btn-footer{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    @media screen and(min-width:480px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    @media screen and(min-width:1200px){
        margin-left: 12px;
        margin-top: 0;
    }
    &{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding-top: 10px;
        padding-right: 62px;
        padding-bottom: 10px;
        padding-left: 29px;
        position: relative;
    }
}

    
.block-form{
    @media screen and(min-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
}

.svg-telegram{
    position: absolute;
    top: 13px;
    right: 28px;
    bottom: 13px;
    left: 148px;    

}