.footer-social{
    @media screen and(min-width:320px) {
        padding-top: 60px;    
    }
    @media screen and(min-width:768px) {
        padding-right: 89px;
        align-items: baseline;
    }
    @media screen and(min-width:1200px) {
        padding-left: 70px;
        align-items: inherit;
    }
}

.footer-join{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
    @media screen and(min-width:1200px) {
     text-align: left;
    }
}

.list-social{
    display: flex;
    justify-content: center;
}
    

.item-social:not(:last-child){
    margin-right: 10px;
}

.link-social{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.1);;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus, &:hover{
        background-color: var(--blue);
    }
}

.social-svg{
    fill: var(--wite);
}