.header{
    height: 80px;
    padding-left: 0px;
    padding-top: 0px;
    background-color: #fff;}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 20px;
}

.web_logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.studio_logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--black);    
}


.header-nav{
    @media screen and(max-width:767px) {
        display: none;        
    }

    @media screen and(min-width:768px) {
        margin-left: 88px;
    }

    @media screen and(min-width:1200px) {
        margin-left: 93px;    
    }
}

.header-item-margin:not(:last-child){
    @media screen and(min-width:768px) {
        margin-right: 50px;        
    }

}

.header-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
    padding-top: 32px;
    padding-bottom: 32px;    
}

.link{
    &:hover,
    &:focus{
        color: var(--blue);
        transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.header-contact-list{
    @media screen and(min-width: 768px){
        display: flex;
        flex-direction: column;
        margin-left: 84px;
}
    @media screen and(min-width: 1200px){
    display: flex;
    flex-direction: row;
    margin-left: 305px;
}
}    


.header-contact-item{
    @media screen and(max-width:767px) {
        display: none;
    }

    @media screen and(min-width:768px){
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }

    @media screen and(min-width:1200px) {
        &:not(:last-child){
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}


.header-tel{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--gray);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        color: var(--blue);
    }
    @media screen and(max-width:1200px){
        font-size: 12px;
        line-height: 14px;
    }
}

.header-mail{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--gray);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        color: var(--blue);
    }
    @media screen and(max-width:1200px){
        font-size: 12px;
        line-height: 14px;
        // margin-bottom: 10px;
    }
}


.icon-tel{
    fill: #757575;
    margin-right: 10px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .header-tel:active &,
    .header-tel:focus  &,
    .header-tel:hover  & {
        fill: #2196f3;
    }
}

.icon-mail{
    fill: #757575;
    margin-right: 10px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .header-mail:active &,
    .header-mail:focus  &,
    .header-mail:hover  & {
        fill: #2196f3;
    }
}


.header-list{
    display: flex;
    justify-content: center;
    align-items: center;

}




.header-line{
    position: absolute;
    width: 100%;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid #ececec;
}

.link-first{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        bottom: -28px;
        left: 0;
        background-color: #2196f3;
        border-radius: 2px;
    }
}


.link-second{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        bottom: -28px;
        left: 0;
        background-color: #2196f3;
        border-radius: 2px;
    }
}


.link-last{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        bottom: -28px;
        left: 0;
        background-color: #2196f3;
        border-radius: 2px;
    }
}


// mobail menu-------------------------------

.btn-open-menu{
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    @media screen and(min-width:768px) {
        display: none;
    }
}

.btn-close-menu{
    padding: 0;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
}

.svg-open-menu{
    background-color: #fff;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        fill: var(--blue);
    }
}

.svg-close-menu{
    background-color: #fff;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        fill: var(--blue);
    }
}

.mob-menu{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 48px;
    .container{
        // position: absolute;
        // bottom: 0;
        // height: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.mob-menu-list{
    padding-left: 40px;
}

.list-mob-menu{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    &:hover,
    &:focus{
        color: var(--blue);
    }
}

.mob-menu-item{
    &:not(:last-child){
        margin-bottom: 30px;
    }
}

.mob-header-mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.mob-header-tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    display: block;
    margin-bottom: 32px;
}

.mob-section-menu{
    margin-bottom: 302px;
}

.mob-section-connect{
    padding-left: 40px;  
    margin-bottom: 64px;  
}

.mob-section-social{
    padding-left: 40px;
}

.mob-list-social{
    display: flex;
}

.mob-item-social{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}


.mob-item-social:nth-child(-n + 3)::after{
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin: 0 10px;
}