.one-section{
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and(min-width:1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}


.one-sec-list{
    margin-bottom: -30px;
    @media screen and(min-width:768px) {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -30px;
        margin-bottom: -30px;
    }
    @media screen and(min-width:1200px) {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.one-sec-item{
        margin-bottom: 30px;
    @media screen and(min-width:768px){
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
        height: 251px;
    }
    @media screen and(min-width:1200px){
        width: calc(100% / 4 - 30px);
        margin-left: 30px;
        margin-bottom: 30px; 
    }
}

.one-sec-icon{
        background: #F5F4FA;
        border-radius: 4px;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F4FA;
        border-radius: 4px;
        align-items: center;
        text-align: center;
        @media screen and(min-width:768px){
            width: 354px;
        }
        @media screen and(min-width:1200px){
            width: 270px;
        }
}

.one-sec-h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--black);
        @media screen and(max-width:768px){
            text-align: center;            
        }
}

.one-sec-p{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--gray);
}



.icn-antena{
    width: 70px;
    height: 70px;
}