
.menu-list{
    @media screen and(min-width:320px){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    @media screen and(min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: center;
    }
    @media screen and(min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: center;    
    }
    
}


.menu-item:not(:last-child){
        margin-right: 8px;
        margin-bottom: 15px;        

}

.button-portfolio{
    background-color: #f5f4fa;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #FFFFFF;
    }
}

.menu-item button:hover{
    background-color: #2196F3;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}




.h3-name-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--black);
}

.p-name-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--gray);
}


.hero-section-port{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and(min-width:1200px){
        padding-bottom: 94px;
    }
}

.project-list{
    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.project-item{
    width: 450px;
    margin-bottom: 30px;
    cursor: pointer;
    background: #FFFFFF;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:focus,
        &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

            &:hover .text-menu{
                transform: translateY(0%);
            }

                &:nth-child(3n){
                    margin-right: 0px;
                }
        @media screen and(min-width:768px) {
        width:354;
        margin-bottom: 30px;
        margin-left: 30px;
        width: calc(100% / 2 - 30px);                 
      }
      @media screen and(min-width:1200px){
        width: 370px;
        margin-bottom: 30px;
        margin-left: 30px;
        width: calc(100% / 3 - 30px); 
      }
    }


.project-name{
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.project-img{
    width: 450px; 
    height:294px;
    // @media screen and(max-width:768px) {
    //     width: 100%;
    // }
}


.menutranslate{
    position: relative;
    overflow: hidden;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .text-menu{
        transform: translateY(0%);
    }
}

.text-menu{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    background-color: rgba(33,150,243,0.9);
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}